*
{
    box-sizing: border-box;
}
.container-fluid 
{
    border: 5px solid rgb(14, 13, 13);
}
.app-first-grid,.app-second-grid,.app-third-grid,.app-four-grid
{
    height: 500px;
    display: flex;
    align-items: center;
    text-align: center;   
}
p{
    width: 60%;
    margin: 0 auto;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.app-first-grid
{
    background-color: #EDA909;
}
.app-second-grid
{
    background-color:#8CE0EB;
}
.app-third-grid
{
    background-color: #D2CCB1;
}
.app-four-grid
{
    background-color: #73926C ;
}
p-carousel
{
    width: 100%;
}

    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: 4px;
        text-align: center;
        padding: 2rem 0;
    }

    .product-image {
        width: 20%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }



/* 
<p class="paragraph">text content......</p>
.paragraph{
    width:500px;
}

 
<p>text content......</p>
.col-lg-6 p{
    width:50%;
}
*/
