<div class="container-fluid" >
 <div class="row">
   <div class="col-12 col-lg-6 app-first-grid">
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
   </div>
   <div class="col  app-second-grid" >
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
   </div>
   <div class="col-12 col-lg-6 app-third-grid" >
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
   </div>
   <div class="col app-four-grid" >
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
   </div>
 </div>
</div>





<!-- 
<div class="container-fluid" >
  <div class="row">
    <div class="col-12  col-lg-6" [ngStyle]="{'background-color':'#EDA909'}">
     <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
       deployment target.</p>
    </div>
    <div class="col-12  col-lg-6 "  [ngStyle]="{'background-color':'#8CE0EB'}">
     <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
       deployment target.</p>
    </div>
    <div class="col-12  col-lg-6" [ngStyle]="{'background-color':'#D2CCB1'}" >
     <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
       deployment target.</p>
    </div>
    <div class="col-12  col-lg-6" [ngStyle]="{'background-color':'#73926C'}" >
     <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
       deployment target.</p>
    </div>
  </div>
 </div> -->