<div class="card w-25 m-5">
  <div class="card-header">
    <h3>fuel Rates in india(Built-in pipe)</h3>
  </div>
  <div class="card-body">
    <h4>Petrol: &nbsp;{{102.35 | currency:'INR'}}/L</h4>
    <h4>Diesel: &nbsp;{{100.10 | currency:'INR'}}/L</h4>
  </div>
</div>

<div class="card w-25 m-5">
  <div class="card-header">
    <h3>fuel Rates in india(Custom pipe)</h3>
  </div>
  <div class="card-body">
    <h4>Petrol: &nbsp;{{fuels.petrolRate | myCurrency}}/L</h4>
    <h4>Diesel: &nbsp;{{fuels.dieselRate | myCurrency}}/L</h4>
    <!-- <h4>Petrol: &nbsp;{{fuels.petrolRate | myCurrency:1}}/L</h4>
    <h4>Diesel: &nbsp;{{fuels.dieselRate | myCurrency:1}}/L</h4> -->
  </div>
</div>