<div class="container-fluid" >
 <div class="row">
   <div class="col-12  col-lg-6 box1">
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
   </div>
   <div class="col-12  col-lg-6 box2" >
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
   </div>
   <div class="col-12  col-lg-6 box3" >
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
   </div>
   <div class="col-12  col-lg-6 box4" >
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
   </div>
 </div>
</div>